LA_Census_Blocks_2020.geojson  
LA_Crime_Data_2010_2019._GRctIst.csv.part  
LA_Crime_Data_2020_2025.rcdEpLQ_.csv.part  
LA_Police_Stations.csv  
RE_codes.csv
LA_Crime_Data_2010_2019.csv    
LA_Crime_Data_2020_2025.csv                
LA_income_2021.csv                         
MO_codes.txt