LA_Census_Blocks_2020.geojson              
LA_income_2021.csv
LA_Crime_Data_2010_2019.csv                
LA_Police_Stations.csv
LA_Crime_Data_2010_2019._GRctIst.csv.part  
MO_codes.txt
LA_Crime_Data_2020_2025.csv                
RE_codes.csv
LA_Crime_Data_2020_2025.hod9T3Bh.csv.part